@*
	The secret page will be displaced if authenticated.
*@

<p>
	<a href="/">Back</a>
</p>

<label style="color:green;"><b>The Authenticated secret page. </b></label>
<br /> 
<label style="color:green;">The contents of this page is encrypted and transmitted to the client. The secret key K calculated using SRP 6a is used to encrypt/decrypt this data. The key K can be again used to send an encrypted request for data. You can use firebug or some other tool to sniff traffic and see the encrypted data. Note that the secret key K is never exchanged/transmitted between client and server. AES-128 is used as encryption algorithm.</label>

<hr />
<hr />