a {
	text-decoration: underline;
	color: #222;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 11.5pt;
	line-height: 1.75em;
	color: #888;
	letter-spacing: -0.02em;
}

body,input {
	font-family: Arial, sans-serif;
}

br.clearfix {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

.error{
	color: red;
}